---
layout: default
---

<div class="home">
  <div class="row">
    {% assign posts = site.posts | sort: "featured-sort" %}
    {% for post in posts %}
      {% if post.featured %}
        <div class="col-md-4 col-sm-6 col-xs-12" style='padding: 0;'>
          <div style="padding: 10px">
            <a href='{{ post.url }}' class='featured-link'>
              <span class='featured-image' style="background-image: url('{{ post.featured-image }}')">
                <span class='featured-headline'>{{ post.featured-headline }}</span>
              </span>
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="page-navigation">
    <span class="prev"></span>
    <a class="next" href="posts/">More Projects! &raquo;</a>
  </div>
</div>
