<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Could probably do this in plain JS but this is fine for now -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
  <script type="text/javascript">  
    $(document).ready(function(){
      $('.site-nav').click(function(){
        $(this).toggleClass('hover')
      });

      $(window).on("focus blur", function(){
        setFavicon()
      })

      setFavicon()

      function setFavicon(){
        $favicon = $("link#favicon")
        if (document.hasFocus()) {
          $favicon.attr("href", "/assets/favicon_2.png?v=5")
        } else {
          $favicon.attr("href", "/assets/favicon.png?v=5")
        }
      }
    });
  </script> 

  <title>{% if page.title %}{{ site.title }}: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/flexboxgrid.min.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link id="favicon" rel="shortcut icon" type="image/png" href="/assets/favicon.png?v=5"/>
  <link rel="apple-touch-icon" href="/assets/favicon.png?v=5">
</head>
